body{
    background-color: black;
    font-family: monospace;
}
nav {
  overflow: hidden;
  text-align: center;
}

nav a {
  float: none;
  display: inline-block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: black;
  color: #8B0000;
}

#intro{
    color: lightgray;
    padding-left: 150px;
}

#rr{
    color: #8B0000;
}

#thetext{
    font-size: 80px;
}

#thetextt{
    font-size: 40px;
}

#about{
    font-size: 20px;
    color: lightgray;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}

img{
    width: 200px;
    height: 200px;
    border: 2px dashed #8B0000;
}

#back{
    background-image: url("images/bgz.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px black;
    margin: 0 auto;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* gmail*/
  .containerOne:hover {
    background-color: black;
    transition-duration: .3s;
  }
  /* hackthebox*/
  .containerTwo:hover {
    background-color: black;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: black;
    transition-duration: .3s;
  }
  /* Github*/
  .containerFour:hover {
    background-color: black;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 30px;
  }
  
  .socialSvg path {
    fill: #8B0000;
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }